@page
@model IndexModel
@{
    ViewData["Title"] = "Index";

    int varPg = Model.Pg;
    const int pageMax = 50;

    int varPgTo = varPg + pageMax;
    int varPgPrev = varPg - pageMax;

    if(varPgPrev < 0)
        varPgPrev = 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="main-content" style="padding-top: 0px; padding-bottom: 0px">
    @for (int i = varPg; i < varPg + pageMax; i++)
    {
        <div class="row">
            @if (i >= Program.GameDb.Games.Length)
            {
                <p class="col-sm">There is no more...</p>
            }
            else
            {
                <img class="col-xs thumbnail" src='@($"/db/wii/covers/{Program.GameDb.Games[i].Id}.png")' 
                    onerror="this.src='img/missing.jpg'">
                <a class="col-sm game-link" href='@($"details?id={Program.GameDb.Games[i].Id}")'>@Program.GameDb.Games[i].Name</a>
            }
        </div>
        @if (i >= Program.GameDb.Games.Length)
        {
            break;
        }
    }
</div>

<div class="bottom-controls">
    <p>Viewing items @varPg - @varPgTo</p>

    <a class="back-btn btn-secondary btn-sm" href='@($"/?pg={varPgPrev}")'>&#60;</a>
    <a class="next-btn btn-secondary btn-sm" href='@($"/?pg={varPgTo}")'>&#62;</a>
</div>